.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .container {
    color: #fff;
  }

  &__bg {
    text-align: center;
    margin-top: 16%;
  }

  &__title {
    color: aliceblue;

    h1 {
      font-size: 42px;

      @media (max-width: 920px) {
        font-size: 32px;
      }
    }

    h5 {
      font-size: 24px;
    }

    h3 {
      font-size: 30px;
    }
  }

  &__bottom {
    text-align: end;
    color: aqua;
    padding: 10px;
  }
}
