.news {
  background: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  background-color: #1b1b1e;
  overflow: hidden;

  // width: 100%;
  // height: 100%;
  // background-image: url("../../../public/maxresdefault.jpg"); /* Путь к фоновому изображению */
  // transition: left 0.5s ease;

  // background-position: 110%;
  // background-size: cover;

  .news-container {
    width: calc(100% - 150px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
    padding: 20px 0;
  }

  .news-card {
    width: 379px;
    text-align: center;

    border-radius: 38px;
    background-color: #14161f;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    margin: 15px 5px;
    padding: 15px 0px;
  }

  .news-card:hover {
    transform: translateY(-3px); /* Анимация при наведении */
  }

  .news-card img {
    border-radius: 26px;
    background-color: #1abc9c;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    border-style: solid;

    margin: 0 5px;
  }

  .news-content {
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;

    min-height: 265px;
  }

  .news-title {
    color: #ffffff;
    font-size: 20px;
    font-family: "Onest", Arial, sans-serif;
    line-height: 1.14;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  }

  .news-date {
    font-size: 14px;
    color: gray;
    display: block;

    margin-bottom: 10px;
    margin-top: 10px;
  }

  .news-text {
    color: #d4d4dd;
    font-size: 16px;
    font-family: "Onest", Arial, sans-serif;
    line-height: 1.38;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    display: -webkit-box;
    -webkit-line-clamp: 4; /* Количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 343px;

    flex-grow: 1;
    flex-shrink: 0;
    align-content: center;
  }

  .news-button {
    color: #191816;
    font-size: 16px;
    font-family: "Onest", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-radius: 30px;
    background-color: #1abc9c;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 5px;
  }

  .news-button:hover {
    background-color: #0056b3;
    color: #fff;
  }
}

.news-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  max-width: 768px;
  position: relative;

  overflow-y: auto;
  max-height: 600px;

  @media (max-width: 768px) {
    max-height: 450px; /* Ограничение высоты */
    overflow-y: auto; /* Вертикальный скролл при необходимости */
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
  }

  @media (max-width: 980px) {
    max-height: 450px; /* Ограничение высоты */
    width: 70%;
    margin: 0 auto;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: none;
  }

  .news-modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .news-modal-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }

  .news-modal-content {
    font-size: 16px;
    color: #555;
  }
}
