.about {
  background-color: #1b1d27;

  &__row {
    display: flex;
    align-items: center;

    width: 95%;
    margin: 10px auto;

    @media (max-width: 1024px) {
      display: block;
    }
  }
}

.head-title {
  font-size: 26px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
  color: rgb(168, 168, 168);
  padding: 15px;
  margin-bottom: 30px;
}

.about-top {
  background-color: #f4f5fa;
  border-radius: 32px;
  color: #fff;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 48px;
  position: relative;

  @media (max-width: 480px) {
    display: none;
  }
}

.about__text_bottom {
  background-color: #f4f5fa;
  border-radius: 32px;
  color: #fff;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 48px;
  position: relative;
}

.about-top__text_description {
  font-family: "Onest", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #191816;
  cursor: pointer;

  text-indent: 20px;
}

.about__text_bottom {
  text-align: center;
  font-family: "Onest", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #191816;
  cursor: pointer;
}

.about--arrow {
  margin: 0 3px;

  @media (max-width: 480px) {
    display: none;
  }

  @media (max-width: 1024px) {
    text-align: center;
    svg {
      transform: rotate(90deg);
      width: 40px;
    }
  }
}
