// .account {
//   color: aliceblue;
// }

.data-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;

  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #e0e0e0;
  }

  thead {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
  }
}

td.message-column {
  width: 350px; /* Устанавливаем фиксированную ширину */
  word-wrap: break-word; /* Разрешает перенос слов, если текст слишком длинный */
  overflow: hidden; /* Скрывает лишний текст */
  text-overflow: ellipsis; /* Добавляет троеточие для обрезанного текста */
}
