body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.App {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(33, 56, 158, 1) 59%,
    rgba(28, 81, 174, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.wrapper__container {
  width: 70%;
  margin: 0 auto;
}

.block_about_news {
  display: flex;
}
